*{
    background-color: grey;
}

form{
    display: none;
}

#project-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

form{
    position:absolute;
    left:50%;
    top:50%;
}